.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.tasks h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: black;
}

.tasks ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.tasks li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 90px;
  max-width: 800px;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  background-color: #fffbfb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 60px;
}

.tasks li:hover{
    cursor: pointer;
}

.tasks li.expanded {
  max-height: 200px;
  padding: 20px;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.task-description {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  display: none;
}

.tasks li.expanded .task-description {
  display: block;
}

.task-buttons {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.task-buttons button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#delete-button:hover {
  background-color: #cc1711;
}
#add-to-favorite:hover {
  background-color: rgb(255, 218, 10);
}

.clicked-favorite-button {
  background-color: gold !important;
}
.clicked-favorite-button:hover {
  background-color: rgb(238, 203, 4) !important; 
}


#completed-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
#completed-button:hover {
  background-color: #e0f2fe; 
}


#completed-button-icon {
  color: #22c55e; 
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.tasks li {
  position: relative;
}
