
 .task-form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
  box-sizing: border-box;
  color: #2D3748;
  background-color: #ffffff;
}

#tasks-title {
  color: #E53E3E;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 10px 50px;
}

.task-form form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  background-color: #fffbfb;
  border: 1px solid rgb(201, 201, 201);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-section label {
  font-size: 20px;
  white-space: nowrap;
  color: #4A5568;
}

.title-section input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #E2E8F0;
  background: transparent;
  font-size: 16px;
  outline: none;
  color: #1A202C;
  transition: border-color 0.3s ease;
}

.task-form input:focus {
  border-bottom: 1px solid #E53E3E;
}

.form-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-section label {
  color: #4A5568;
}

.description-section {
  flex-grow: 1;
}

.description-section textarea {
  margin-top: 10px;
  width: 97%;
  height: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 10px;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  color: #1A202C;
  outline: none;
  resize: none;
  overflow: hidden;
}

.description-section textarea:focus {
  border: 1px solid #E53E3E;
  transition: border-color 0.4s ease;
} 

.description-section label {
  font-size: 20px;
  white-space: nowrap;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.date-input label {
  font-size: 16px;
  color: #4A5568;
}

.date-input input {
  padding: 10px;
  border: 1px solid #E2E8F0;
  border-radius: 5px;
  font-size: 16px;
  color: #718096;
  outline: none;
  background: transparent;
}

#submit-button {
  padding: 10px 15px;
  background-color: #2294e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

#submit-button:hover {
  background-color: #0c7dcd;
}
