.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 97.5vh;
  overflow: hidden;
}

.desktop .div {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
  max-width: 1366px;
}

.desktop .team-checklist-cuate {
  width: 550px;
  height: 550px;
  right: -10px;
  bottom: 25px;
  object-fit: cover;
  position: absolute;
}

.desktop .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 55px;
  left: 10%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 40%;
  max-width: 548px;
}

.desktop .text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 29px;
  position: relative;
  width: 100%;
}

.desktop .text-frame {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 463px;
}

.desktop .text-wrapper {
  align-self: stretch;
  color: #e64b4b;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 4vw;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.desktop .text-wrapper-2 {
  align-self: stretch;
  color: #3e3e3e;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 3vw;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.desktop .welcome-back-manage {
  align-self: stretch;
  color: #a6a4a4;
  font-family: "Noto Looped Thai UI-Regular", Helvetica;
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.desktop .get-started-button {
  all: unset;
  align-items: center;
  background-color: #e95e5e;
  border-radius: 35px;
  box-shadow: 0px 7px 4px #00000040;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  width: 320px;
  transition: all 0.3s ease;
}

.desktop .get-started-button:hover {
  cursor: pointer;
  background-color: #c33c3c ;
  transform: scale(1.07);
}

.desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .mdi-light-arrow {
  height: 32px;
  position: relative;
  width: 32px;
}

.desktop .frame-2 {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #d6d2d2;
  height: 96px;
  left: 0;
  position: absolute;
  top: 0;
  width: 110%;
}

.desktop .navbar {
  align-items: center;
  display: inline-flex;
  gap: 53px;
  right: 5%;
  position: absolute;
  top: 35px;
}

.desktop .navbar-link {
  color: #000000;
  font-family: "Myanmar Khyay-Regular", Helvetica;
  font-size: 20px;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  transition: 0.3s ease;
}

.desktop .navbar-link:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: scale(1.09);
}

.desktop .text-wrapper-4 {
  width: 63px;
}

.desktop .text-wrapper-5 {
  width: 95px;
}

.desktop .text-wrapper-6 {
  width: 93px;
}

.desktop .text-wrapper-7 {
  width: 120px;
}

.desktop .material-symbols {
  height: 49px;
  left: 5%;
  position: absolute;
  top: 24px;
  width: 49px;
}
